<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">TypeScript Notes</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="typescript" class="btn btn-primary btn-lg">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="" class="btn btn-primary btn-lg">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
